h1{
  text-align: center;
  font-family: Lucida, sans-serif;
}

/* game board table */

#board td {
  position: relative;
  width: 55px;
  height: 55px;
  border: solid 1px #666;
}
#board {
  margin-left: 130px;
  width: 545px;
  display: flex;
  flex-wrap: wrap;
}

.container {
  position:relative;
  border: 5px solid;
  background-image: url(https://cdn.shopify.com/s/files/1/2701/6194/products/dcbe1dc45e657a3ebc1f6d63ede2a0c8_x700.jpg?v=1573861106);
  background-size: cover;
  height: 700px;
  width: 800px;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-duration: 2s;
  animation-name: slidein;
}
.player-1{
  /* background-color: blue; */
  background-image: url("./assets/black.png");
  background-size: cover;
}
.player-2{
  background-image: url("./assets/red.png");
  background-size: cover;
}

/* game row styling */
.game-row td {
  background-color: white;
    border-radius: 50%;
    margin-left: 12px;
    margin-right: 6px;
}
tr.game-row {
  height: 62px;
  display: flex;
  margin-top: 1px;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */
#column-top{
  margin-bottom: 9px;
  display:flex;
}

#column-top td {
  border: dashed 1px lightgray;
  height: 10px;
  margin-bottom: 6px;
  margin-right: 6px;
  margin-left: 12px;
  margin-top: 2px
}

#column-top td:hover {
  background-color: gold;
}

@keyframes slidein {
  from {
    margin-bottom: 500px;
    /* width: 300%;  */
  }

  to {
    margin-bottom:0;
  }
}
